.termsofUse {
    font-size: 15px;
}

.privacyTitle {
    text-align: center;
    margin: 0 0 10px 0;
}

.contacts-privacy {
    background: #65446d;
}

.contacts-privacy h2 {
    color: #ebebeb;
    text-align: center;
    margin: 0 0 10px 0;
}

.contacts-privacy p {
    color: #ebebeb;
    font-size: 20px;
}

.contacts-privacy b {
    margin-top: 20px;
    color: #ebebeb;
    font-size: 20px;
}

.principles h2 {
    text-align: center;
}

.principles p {
    font-size: 20px;
    text-align: center;
}

.principles ul {
    font-size: 16px;
}

.personal-info {
    background: #65446d;
}

.personal-info h2 {
    color: #ebebeb;
    text-align: center;
    margin: 0 0 10px 0;
}

.personal-info p {
    color: #ebebeb;
    font-size: 20px;
}

.personal-info ul {
    font-size: 16px;
    color: #ebebeb;
}